.tab-box .panel-heading > .nav-tabs {
	float: right;
	margin-top: -2px;
	display: inline-block;
	border-bottom: 0;
}

.tab-box .panel-heading > .nav-tabs > li > a {
	border: 0;
	padding: 6px 7px;
}

@media (min-width: 444px) {
	.tab-box .panel-heading > .nav-tabs > li > a {
		padding: 6px 15px;
	}
}

.tab-box .panel-heading > .nav-tabs > li.active > a {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 0;
	border-top: 1px solid #7c1c1d;
	background: #fff;
}

.panel.panel-default > .panel-heading h3 {
	display: inline-block;
}
