@(title: String)

@header(title)

<div class="container">
  <div class="page-header">
    <h1>Welcome</h1>
  </div>
  <p>Mail: <a href="mailto:lukas@@zauberstuhl.de">lukas@@zauberstuhl.de</a></p>
  <p>Diaspora-ID: <a href="https://sechat.org/u/lukas">lukas@@sechat.org</a></p>
  <p>Pub-Key: <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x903A00FC06CC137B">0x903a00fc06cc137b</a></p>
</div>
<div class="container">
  <div class="page-header">
    <h3>Sechat*</h3>
  </div>
  <p><a href="https://sechat.org/">Sechat*</a> is a free Diaspora Server.  What means Sechat?</p>
  <pre><code>In Egyptian mythology, Seshat (also spelled Safkhet, Sesat, Seshet, Sesheta, and Seshata) was the Ancient Egyptian goddess of wisdom, knowledge, and writing. She was seen as a scribe and record keeper, and her name means she who scrivens (i.e. she who is the scribe), and is credited with inventing writing.</code></pre>
</div>
<div class="container">
  <div class="page-header">
    <h3>Diaspora*</h3>
  </div>
  <p>Diaspora is a free personal web server that implements a distributed social networking service.</a>
  <p>Diaspora-Foundation: <a href="https://diasporafoundation.org/">diasporafoundation.org</a></p>
  <p>Diaspora-Wiki: <a href="https://wiki.diasporafoundation.org/">wiki.diasporafoundation.org</a></p>
  <p>Diaspora-Source:</p>
  <ul>
    <li><a href="https://github.com/diaspora/diaspora">Diaspora</a></li>
    <li><a href="https://github.com/diaspora/vines">Diaspora XMPP Back-end</a></li>
    <li><a href="https://github.com/diaspora/jsxc">Diaspora XMPP Front-end</a></li>
  </ul>
</div>

@footer()
