@(title: String)

@header(title)

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Mail: <a href="mailto:lukas@@zauberstuhl.de">lukas@@zauberstuhl.de</a></p>
      <p>Diaspora-ID: <a href="https://sechat.org/u/lukas">lukas@@sechat.org</a></p>
      <p>Pub-Key: <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x903A00FC06CC137B">0x903a00fc06cc137b</a></p>
    </div>
  </div>

  <div class="page-header">
    <h2>Projects</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Diaspora*</h3>
      <p>Diaspora is a free personal web server that implements a distributed social networking service.</a>
      <p>Foundation: <a href="https://diasporafoundation.org/">diasporafoundation.org</a></p>
      <p>Wiki: <a href="https://wiki.diasporafoundation.org/">wiki.diasporafoundation.org</a></p>
      <p>Contribution:</p>
      <ul>
        <li><a href="https://github.com/diaspora/diaspora">Diaspora</a></li>
        <li><a href="https://github.com/diaspora/vines">Diaspora XMPP Back-end</a></li>
        <li><a href="https://github.com/diaspora/jsxc">Diaspora XMPP Front-end</a></li>
      </ul>
      <hr/>
      <h4>sechat.org</h4>
      <p><a href="https://sechat.org/">Sechat*</a> is a free Diaspora Server and runs the latest development version of Diaspora. What means Sechat?</p>
      <pre><code>In Egyptian mythology, Seshat (also spelled Safkhet, Sesat, Seshet, Sesheta, and Seshata) was the Ancient Egyptian goddess of wisdom, knowledge, and writing. She was seen as a scribe and record keeper, and her name means she who scrivens (i.e. she who is the scribe), and is credited with inventing writing.</code></pre>
      <hr/>
      <h4>joindiaspora.com</h4>
      <p><a href="https://joindiaspora.com/">Joindiaspora*</a> is a free Diaspora Server and runs the latest stable version of Diaspora.</p>
    </div>
  </div>
</div>

@footer()
