<section id="projects" class="section-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>Diaspora</h2>
        <p>Diaspora is a free personal web server that implements a distributed social networking service. You'll find more information on <a href="https://diasporafoundation.org/">diasporafoundation.org</a> or <a href="https://wiki.diasporafoundation.org/">wiki.diasporafoundation.org</a>.</p>
        <h3>Contributions</h3>
        <div class="list-group">
          <a class="list-group-item" href="https://github.com/diaspora/diaspora">Diaspora</a>
          <a class="list-group-item" href="https://github.com/diaspora/vines">Diaspora XMPP Back-end</a>
          <a class="list-group-item" href="https://github.com/diaspora/jsxc">Diaspora XMPP Front-end</a>
        </div>
      </div>
      <div class="col-lg-6">
        <h2>Diaspora Pods</h2>
        <p>A pod is a server running the diaspora* software and connected to the diaspora* network. "Pod" is a metaphor referring to pods on plants which contain seeds, in the way that a server contains a number of user accounts.</p>
        <h3>sechat.org</h3>
        <p><a href="https://sechat.org/">Sechat*</a> runs the <b>latest development version</b> of Diaspora.</p>
        <h3>joindiaspora.com</h3>
        <p><a href="https://joindiaspora.com/">Joindiaspora*</a> runs the <b>latest stable version</b> of Diaspora.</p>
      </div>
    </div>
  </div>
</section>
