@(title: String, stats: play.api.libs.json.JsValue)

@import play.api.libs.json._

@header(title)

<div class="container">
  <div class="page-header">
    <h1>@title</h1>
  </div>
</div>
<div class="container">
  <div id="monitor" class="panel panel-default tab-box">
    <div class="panel-body">
      <div class="tab-content">
        <div id="fuel-tab" class="tab-pane active">
          <div class="row">
            <div class="col-sm-12 chart">
              <div id="diaspora-stats"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("javascripts/autogen_stats.js")"></script>
<script src="@routes.Assets.at("javascripts/raphael-min.js")"></script>
<script src="@routes.Assets.at("javascripts/morris.min.js")"></script>
<script>
  $(function () {
    Morris.Bar({
      element: 'diaspora-stats',
      data: [{
        y: 'Diaspora* User',
        a: @((stats \ "total_users")),
        b: @((stats \ "active_users_halfyear")),
        c: @((stats \ "active_users_monthly"))
      }],
      xkey: 'y',
      ykeys: ['a', 'b', 'c'],
      labels: ['Total user', 'Active half-yearly', 'Active monthly'],
      barColors: ['#A52A2A','#000000','#72A0C1']
    });
  });
</script>

@footer()
