@(stats: play.api.libs.json.JsValue)

@import objects.Statistics.DiasporaStats

<section id="statistics" class="section-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div id="monitor" class="panel panel-default tab-box">
            <div class="panel-body">
              <div class="tab-content">
                <div id="fuel-tab" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-12 chart">
                      <div id="diaspora-stats"></div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="@routes.Assets.at("javascripts/raphael-min.js")"></script>
<script src="@routes.Assets.at("javascripts/morris.min.js")"></script>

<script>
  $(function () {
    Morris.Bar({
      element: 'diaspora-stats',
      data: [{
        y: 'Sechat.org',
        @{
          val sechat = (stats \ "sechat").as[DiasporaStats]
          "a: " + sechat.halfyear + "," +
          "b: " + sechat.monthly
        }
      },
      {
        y: 'Joindiaspora.com',
        @{
          val jd = (stats \ "jd").as[DiasporaStats]
          "a: " + jd.halfyear + "," +
          "b: " + jd.monthly
        }
      }],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Active half-yearly', 'Active monthly'],
      barColors: ['#000000','#A52A2A']
    });
  });
</script>
